@tailwind base;
@tailwind components;
@tailwind utilities;

.football-pitch {
  background: url('/football-pitch.svg') 0 0 no-repeat;
  background-size: cover;
  height: 680px;
  width: 440px;
}

@screen sm {
  .football-pitch {
    background: url('/football-pitch-horizontal.svg') 0 0 no-repeat;
    background-size: cover;
    height: 360px;
    width: 570px;
  }
}

@screen md {
  .football-pitch {
    background: url('/football-pitch-horizontal.svg') 0 0 no-repeat;
    background-size: cover;
    height: 440px;
    width: 700px;
  }
}
